---
import { LANGUAGES, LOCALES, type Lang } from "."
const url = Astro.url
const origin = url.origin
const [, lang, ...slug] = url.pathname.split("/")
---

<!-- OPTION 01 -->{
  lang in LANGUAGES && (
    <select
      id="lang-selector"
      class="bg-[#f6e8da] font-bold text-[#1c1c1e] rounded-lg px-3 py-1.5"
    >
      <option value="" disabled selected>
        {LANGUAGES[lang as Lang]}
      </option>
      {Object.entries(LANGUAGES).map(([l, label]) => (
        <>
          {l !== lang && (
            <option value={`${origin}/${l}/${slug.join("/")}`}>{label}</option>
          )}
        </>
      ))}
    </select>
  )
}

<!-- OPTION 02 -->
<ul class="border-r-2 border-[#f6e8da] pr-2">
  {
    Object.entries(LANGUAGES).map(([l, label]) => (
      <li class="space-y-4">
        <a
          href={`${origin}/${l}/${slug.join("/")}`}
          hreflang={LOCALES[l as keyof typeof LOCALES]}
          class:list={[
            "hover:underline underline-offset-4",
            {
              "font-bold": l === lang,
            },
          ]}
        >
          {label}
        </a>
      </li>
    ))
  }
</ul>

<script>
  function optionsAsLinks(selector: string) {
    const selectElem = document.querySelector(selector) as HTMLSelectElement

    selectElem.addEventListener("change", () => {
      const selectedIndex = selectElem.selectedIndex

      if (selectElem.options[selectedIndex].value) {
        const url = selectElem.options[selectedIndex].value
        window.location = url as string & Location
      }
    })
  }

  optionsAsLinks("#lang-selector")
</script>
